body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("../Imagens/SetembroAmareloo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    margin-right: 10px;
    height: 20px;
}
h1{
    font-size: 40px;
    text-align: end;
    text-align: center;
    margin: auto;
}
.btn {
    cursor:pointer;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px 25px;
    background-color: #f39c12;
    border: solid 1px #f39c12;
    border-radius: 5px;
    transition: .5s;
}   
.btn:hover {
    background-color: #e67e22;
    color: black;
    box-shadow: 0 2px 3px #f39c12 ;
}